h1, h2 {
  font-family: Helvetica;
  text-align: center;
  font-weight: 400;
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

.title{
  background-color: #ff9300;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
